
  .VPHomeHero .image-container {
    width: 120% !important;
    height: 120% !important;
  }
  
  .VPHomeHero .VPImage.image-src {
    width: 100% !important;
    height: 100% !important;
    max-height: 100%;
    max-width: 100%;
  }